<title>Deliveries</title>

<%= link_to "Add", {controller: controller_name, action: "new"}, class: "btn btn-large btn-primary" %> 
<button class="btn btn-large btn-primary" id="toggle-form"> Embedded Form </button>

<%= render 'layouts/data_form', table: @table, headers: @headers[0], datum: @datum, form_display: nil %>