@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 60px;
}

table{
	width: 100%;
}

.display-form-group {
	border: 1px solid black;
	padding: 20px;
}

.td {
	margin: 5px;
	padding: 5px;
	color: red;
}

.container {
	margin:0;
}

.display-form-group {
	display: none;
}

.hidden-field {
	display:none;
}