@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 60px;
}

table{
	width: 100%;
}

.display-form-group {
	border: 1px solid black;
	padding: 20px;
}

.td {
	margin: 5px;
	padding: 5px;
	color: red;
}

.container {
	margin:0;
}

.display-form-group {
	display: none;
}

.hidden-field {
	display:none;
}

#clock {
	position: fixed;
	right: 1em;
	top: 1em;
	background-color: rgba(100,100,100,0.5);
	font: 40px Arial bold;
	font-family: Arial;
	color: white;
	padding: .5em;
}

.btn-primary, button {
	margin-bottom: 10px;
}

table{
	margin-top: 20px;	
}